body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.accent {
    color: #eb4d4b;
    font-weight: bold;
}

/* MENU */
.menu {
    padding: 15px 50px;
    background: #fff;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.menu .logo {
    color: #777;
}

.menu .nav-right {
    display: flex;
    align-items: center;
}

.menu button {
    border: none;
    color: #fff;
    padding: 8px 14px;
    background: #eb4d4b;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
}

.menu ul {
    display: inline-block;
    padding: 0;
    margin: 0;
}
.menu ul li {
    display: inline-block;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    cursor: pointer;
}

.menu #br {
    margin: 0 20px;
    width: 50px;
}

/* COLORS */
.menu ul li:nth-child(1) {
    background: #e74c3c;
    border: 1px solid #e74c3c;
}

.menu ul li:nth-child(2) {
    background: #e67e22;
    border: 1px solid #e67e22;
}

.menu ul li:nth-child(3) {
    background: #2ecc71;
    border: 1px solid #2ecc71;
}

.menu ul li:nth-child(4) {
    background: #3498db;
    border: 1px solid #3498db;
}

.menu ul li:nth-child(5) {
    background: #fff;
    border: 1px solid #999;
}

/* MAIN CONTAINER */
.container {
    background: #fff;
    overflow: auto;
    padding: 50px 0;
}

/* CODE */
#codeWrapper {
    position: relative;
    left: 0; right: 0;
    background: #3498db;
    color: #fcfcfc;
    padding: 50px;
    width: auto;
    display: table;
    margin: 0 auto;
}

.CodeMirror {
    height: auto;
    width: auto;
    border-radius: 6px;
    box-shadow: 0 0 35px 5px rgba(0, 0, 0, 0.3);
    font-size: 16px;
}

.CodeMirror-scroll {
     overflow: hidden !important;
 }

.CodeMirror-lines {
    padding: 15px;
}

/* CLONE AND IMAGE */
#imgs > * {
    display: block;
    margin: 0 auto;
}

.clone {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -999;
}